    /* body {
    background-color: rgb(228, 211, 199)
} */
    
    html {
        height: 100%;
    }
    
    body {
        margin: 0;
    }
    
    .bg {
        animation: slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, rgb(139, 158, 226) 50%, rgb(228, 192, 151) 50%);
        bottom: 0;
        left: -50%;
        opacity: .5;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1;
    }
    
    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 10s;
    }
    
    .bg3 {
        animation-duration: 10s;
    }
    
    .content {
        background-color: rgba(255, 255, 255, .8);
        border-radius: .25em;
        box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
        box-sizing: border-box;
        left: 50%;
        padding: 10vmin;
        position: fixed;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    @keyframes slide {
        0% {
            transform: translateX(-25%);
        }
        100% {
            transform: translateX(25%);
        }
    }
    /* body:hover {
    background-color: rgb(146, 216, 168);
    font: 2vmin/1.9 Serif;
    overflow: hidden;
    color: transparent;
    animation: 44s -27s move infinite ease-in-out alternate;
} */
    
    .shi {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        padding: 400px;
        width: 50%;
        size: 3px;
        color: black;
    }
    
    .buton1 {
        animation: slide 5s ease-in-out infinite alternate;
        transition: all 1.2s;
        animation-direction: alternate-reverse;
    }
    
    .buton1:hover {
        width: 400px;
        height: 50px;
        background-color: rgb(199, 107, 149);
        border-radius: 30px;
        font-family: 'Courier New', Courier, monospace;
    }
    /* width:50%", size="3", color=black */