    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    .px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }
    
    .py-3 {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem
    }
    
    body {
        background-image: url("https://static-cse.canva.com/blob/572029/removingbackgroundimages_Unsplash.4c9ea595.avif");
    }
    
    .home-page__titlu--paragraf__buttons__twitter {
        padding: 10px;
        margin: 0.50rem;
    }
    
    .home-page__titlu--paragraf__buttons__instagram {
        padding: 10px;
        margin: 0.50rem;
    }
    
    .home-page__titlu--paragraf__buttons__facebook {
        padding: 10px;
        margin: 0.75rem;
    }
    
    .home-page__titlu--paragraf__buttons__snapchat {
        padding: 10px;
        margin: 0.75rem;
    }
    
    .home-page__titlu--paragraf__buttons__linkedin {
        padding: 10px;
        margin: 0.75rem;
    }
    
    .home-page__titlu--paragraf__buttons__email {
        padding: 10px;
        margin: 0.75rem;
    }
    
    .home-page__titlu--paragraf__buttons__github {
        padding: 10px;
        margin: 0.75rem;
    }
    
    .home-page {
        text-align: center;
    }
    /* twitter */
    
    .home-page__titlu--paragraf__buttons1 {
        color: rgb(254, 251, 251);
        background-color: rgb(38, 143, 181);
        height: 50px;
        width: 300px;
        font-size: 35px;
        transition: all 1s linear;
    }
    
    .home-page__titlu--paragraf__buttons1:hover {
        font-size: 35px;
        color: rgb(3, 0, 0);
        background-color: rgb(244, 243, 248);
    }
    /* instagram  */
    
    .home-page__titlu--paragraf__buttons2 {
        color: rgb(254, 251, 251);
        background-color: rgb(39, 186, 142);
        height: 50px;
        width: 300px;
        font-size: 35px;
        transition: all 1s linear;
    }
    
    .home-page__titlu--paragraf__buttons2:hover {
        font-size: 35px;
        color: rgb(3, 0, 0);
        background-color: rgb(20, 15, 159);
    }
    /* facebook */
    
    .home-page__titlu--paragraf__buttons3 {
        color: rgb(254, 251, 251);
        background-color: rgb(45, 35, 181);
        height: 50px;
        width: 300px;
        font-size: 35px;
        transition: all 1s linear;
    }
    
    .home-page__titlu--paragraf__buttons3:hover {
        font-size: 35px;
        color: rgb(3, 0, 0);
        background-color: rgb(244, 243, 248);
    }
    /* linkedin */
    
    .home-page__titlu--paragraf__buttons5 {
        color: rgb(254, 251, 251);
        background-color: rgb(9, 165, 185);
        height: 50px;
        width: 300px;
        font-size: 35px;
        transition: all 1s linear;
    }
    
    .home-page__titlu--paragraf__buttons5:hover {
        font-size: 35px;
        color: rgb(3, 0, 0);
        background-color: rgb(244, 243, 248);
    }
    /* github */
    
    .home-page__titlu--paragraf__buttons7 {
        color: rgb(254, 251, 251);
        background-color: rgb(171, 85, 208);
        height: 50px;
        width: 300px;
        font-size: 35px;
        transition: all 1s linear;
    }
    
    .home-page__titlu--paragraf__buttons7:hover {
        font-size: 35px;
        color: rgb(3, 0, 0);
        background-color: rgb(244, 243, 248);
    }
    /* gmail */
    
    .home-page__titlu--paragraf__buttons6 {
        color: rgb(254, 251, 251);
        background-color: rgb(59, 200, 160);
        height: 50px;
        width: 300px;
        font-size: 35px;
        transition: all 1s linear;
    }
    
    .home-page__titlu--paragraf__buttons6:hover {
        font-size: 35px;
        color: rgb(3, 0, 0);
        background-color: rgb(244, 243, 248);
    }
    
    .home-page__titlu {
        font-size: 45px;
    }
    
    .img {
        height: 50px;
        width: 60px;
    }