*{
  margin: top 30px;
  margin:0px;
  padding:0px;
}

.containe{
margin: 70px;


}
nav{
    padding: 100px;
    margin: 0 auto;
}

.home-pages{
  background-color:rgb(1, 9, 9);
  color:white;
text-align: center;
border: 1px solid rgb(53, 145, 171);
transition:all 2s ease-in-out;
}

.home-pages:hover{
    border-radius: 20px;
    color: white;
    background-color:rgb(10, 15, 62);
}

.hidden {
    display: none ;
}

/* acesta este pentru button  vezi grija :)) */


.fill:hover,
.fill:focus {
    background-color: rgb(2, 2, 70);
    

  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}


.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}


.close:hover,
.close:focus {
  box-shadow: 
    inset -3.5em 0 0 0 var(--hover),
    inset 3.5em 0 0 0 var(--hover);  
}


.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}


.up:hover,
.up:focus {

  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}


.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}


.offset {  
  box-shadow: 
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);
  
}


button {  
  color: var(--color);
  transition: 0.25s;
 
}
button:hover
   { 
    border-color: var(--hover);
    color: rgb(43, 151, 115);
  }
button:focus { 
    border-color: var(--hover);
    color: rgb(245, 239, 239);
}

body {
  color: #fff;
  background: hsl(223, 4%, 65%);
  font: 300 1em 'Fira Sans', sans-serif;
  

  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
 

}


button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  
  padding: 1em 2em;
}



code { 
  color: #e4cb58;
  font: inherit;
}
.modal-hidden{
  color: white;
  font-weight: 600px;
  font-size: 35px;
}
/* 

    
    .home-page__titlu--paragraf__buttons__twitter {
        margin: 0.75rem;
     
      
    }
    
    .home-page__titlu--paragraf__buttons__instagram {
     
        margin: 0.75rem;
        height: 300px;
        top: 10%;
    }
    
    .home-page__titlu--paragraf__buttons__facebook {
      
        margin: 0.75rem;
        height: 40px;
        text-align:right
    }
    
    .home-page__titlu--paragraf__buttons__snapchat {
      
        margin: 0.75rem;
        height: 40px;
        text-align:left
    }
    
    .home-page__titlu--paragraf__buttons__linkedin {
        
        margin: 0.75rem;
        height: 10px;
        text-align:left
    }
    
    .home-page__titlu--paragraf__buttons__email {
    
        margin: 0.75rem;
        height: 40px;
        text-align:left
    }
    
    .home-page__titlu--paragraf__buttons__github {
   
        margin: 0.75rem;
        height: 40px;
        text-align:left
    }
    
    .home-page {
        text-align: center;
    }
 
    
    .home-page__titlu--paragraf__buttons1 {
        color: rgb(254, 251, 251);
        background-color: rgb(38, 143, 181);
        height: 300px;
        width: 450px;
        font-size: 35px;
        transition: all 1s linear;
     
        top:right;
    }
    
    .home-page__titlu--paragraf__buttons1:hover {
        font-size: 35px;
        color: rgb(3, 0, 0);
        background-color: rgb(244, 243, 248);
    }
    
   
    
     .home-page__titlu--paragraf__buttons2 {
        color: rgb(254, 251, 251);
        background-color: rgb(39, 186, 142);
        height: 300px;
        width: 450px;
        font-size: 35px;
        transition: all 1s linear;
      
        top: 10%;
    }
    
    .home-page__titlu--paragraf__buttons2:hover {
        font-size: 35px;
        color: rgb(3, 0, 0);
        background-color: rgb(20, 15, 159);
    }
     
     .home-page__titlu--paragraf__buttons3 {
        color: rgb(254, 251, 251);
        background-color: rgb(45, 35, 181);
        height: 300px;
        width: 450px;
        font-size: 35px;
        transition: all 1s linear;

        top: 20px;
    }
    
    .home-page__titlu--paragraf__buttons3:hover {
        font-size: 35px;
        color: rgb(3, 0, 0);
        background-color: rgb(244, 243, 248);
    }
  
    
    .home-page__titlu--paragraf__buttons5 {
        color: rgb(254, 251, 251);
        background-color: rgb(9, 165, 185);
        height: 300px;
        width: 450px;
        font-size: 35px;
        transition: all 1s linear;
        display: block;
top: 300px;
    }
    
    .home-page__titlu--paragraf__buttons5:hover {
        font-size: 35px;
        color: rgb(3, 0, 0);
        background-color: rgb(244, 243, 248);
    }

    
    .home-page__titlu--paragraf__buttons7 {
        color: rgb(254, 251, 251);
        background-color: rgb(171, 85, 208);
        height: 300px;
        width: 450px;
        font-size: 35px;
        transition: all 1s linear;
        
        top: 20px;
    }
    
    .home-page__titlu--paragraf__buttons7:hover {
        font-size: 35px;
        color: rgb(3, 0, 0);
        background-color: rgb(244, 243, 248);
    }50px

    .home-page__titlu--paragraf__buttons6 {
        color: rgb(254, 251, 251);
        background-color: rgb(59, 200, 160);
        height: 300px;
        width: 450px;
        font-size: 35px;
        transition: all 1s linear;
        align-items: center;
        justify-content: center;
    }
    
    .home-page__titlu--paragraf__buttons6:hover {
        font-size: 35px;
        color: rgb(3, 0, 0);
        background-color: rgb(244, 243, 248);
    }
    
    .home-page__titlu {
        font-size: 45px;
    }
    
    */

    .copyright{
        text-align:center;
    
    } 
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.container {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;


  min-width: 100%;
  max-width: 100%;
  max-height: 100%;

  color: #ffffff;
  text-align: center;
  background-color: #07090c;
  font-size: 16px;
  
}
figure.container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.container img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
figure.container figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% -50%;
  -ms-transform-origin: 50% -50%;
  transform-origin: 50% -50%;
  z-index: 1;
  opacity: 0;

}
figure.container h3,
figure.container p {
  line-height: 1.5em;
}
figure.container h3 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
figure.container p {
  font-size: 0.8em;
  font-weight: 500;

}
figure.container .more {
  border: 2px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
figure.container .more:hover {
  background-color: #ffffff;
  color: #000000;
}
figure.container:hover img,
figure.container.hover img {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}
figure.container:hover figcaption,
figure.container.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}